.logo__image {
    height: 5em;
}

body {
    margin: 0 0 0 0;
    color: white;
    background-color: #151019;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    border-bottom: 1px solid black;
}

.logo__link {
    width: 3em;
    font-size: 3em;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-decoration: none;
    color: white;
    background-color: #FF9700;
    border-radius: 10px;
}

.logo {
    margin-left: 1.5em;
}

.header__image {
    height: 6em;
    margin-left: 21em;
}

nav {
    display: flex;
    width: 30em;
    justify-content: space-around;
}

.main__image {
    height: 20em;
}

main {
    height: 150em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.main__path-section {
    /* margin-top: 4em; */
    display: flex;
    /* justify-content: space-between; */
    height: 25em;
    width: 60em;
    background-color: #FF9700;
    border-radius: 40px;
}

.path-image {
    height: 20em;
    align-self: center;
}

.path-image:nth-child(2n) {
    margin-left: auto;
    margin-right: 3em;
}

.path-description {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    word-wrap: break-word;
    margin-right: 0.85em;
}

.path-description:nth-child(2n+1) {
    margin-left: 2em;
}

.main__path-link {
    text-decoration: none;
    color: white;
}

.main__path-section:hover {
    background-color: rgba(255, 151, 0, 0.75);
}

.main__path-section-skivi:hover {
    background-color: #FF9700;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 8em; */
    border-top: 1px solid black;
}

.footer__icon-redirection {
    height: 2.5em;
    margin-right: 1.5em;
}

.footer__icon-redirection:hover {
    background-color: #FF9700;
    border-radius: 50%;
}

.footer__icon-redirection-instagram {
    height: 2.5em;
    margin-right: 1.5em;
}

.footer__icon-redirection-instagram:hover {
    background-color: #FF9700;
    border-radius: 40%;
}

.nav-button__anchor {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.45em;
}

.nav-button {
    font-size: 1.5em;
}

.nav-button__anchor:hover {
    background-color: rgba(255, 151, 0, 0.75);
}

.mail {
    text-decoration: none;
    color: white;
}

.mail:hover {
    color: #FF9700;
}