.login-form {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF9700;
    border-radius: 20px;
    height: 40em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
    margin-top: 5em;
    margin-bottom: 9em;
}

.login-form__h1 {
    margin-top: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.form-field {
    border: 0;
    background: #151019;
    display: block;
    margin: 2em auto;
    text-align: center;
    border: 1px solid #151019;
    padding: 1.5em 0.8em;
    width: 20em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
}

.form-field:focus {
    width: 24em;
    border: 3px solid #3498DB;
}

.login-form__checkers {
    display: flex;
    justify-content: space-between;
}

.forgot-password {
    text-decoration: none;
    color: white;
}

.forgot-password:hover {
    color: #151019;
    font-weight: 600;
}

.login-btn {
    border: 0;
    background: #151019;
    display: block;
    margin: 2em auto;
    text-align: center;
    border: 1px solid #151019;
    padding: 1.5em 0.8em;
    width: 15em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
    cursor: pointer;
}

.login-btn:hover {
    width: 17em;
    border-color: #2ecc71;
    background-color: #3498DB;
}

.sign-up-btn {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.45em;
    border: 0;
    background: #151019;
    display: block;
    text-align: center;
    border: 1px solid #151019;
    padding: 1em 0.8em;
    width: 8em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
    cursor: pointer;
}

.sign-up-btn:hover {
    width: 10em;
    background-color: #3498DB;
    border: 1px solid #3498DB;
}

.sign-up-text {
    font-size: 1.2em;
}