body {
    margin: 0 0 0 0;
    color: white;
    background-color: #151019;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    border-bottom: 1px solid black;
}

.logo__link {
    width: 3em;
    font-size: 3em;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-decoration: none;
    color: white;
    background-color: #FF9700;
    border-radius: 10px;
}

.logo {
    margin-left: 1.5em;
}

.header__image {
    height: 6em;
    margin-left: 21em;
}

nav {
    display: flex;
    width: 30em;
    justify-content: space-around;
}

.nav-button {
    font-size: 1.5em;
}

.nav-button__anchor {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.45em;
}

.nav-button__anchor:hover {
    background-color: rgba(255, 151, 0, 0.75);
}

.login-form {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF9700;
    border-radius: 20px;
    height: 40em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
    margin-top: 5em;
    margin-bottom: 9em;
}

.login-form__h1 {
    margin-top: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.form-field {
    border: 0;
    background: #151019;
    display: block;
    margin: 2em auto;
    text-align: center;
    border: 1px solid #151019;
    padding: 1.5em 0.8em;
    width: 20em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
}

.form-field:focus {
    width: 24em;
    border-color: #3498DB;
}

.login-form__checkers {
    display: flex;
    justify-content: space-between;
}

.forgot-password {
    text-decoration: none;
    color: white;
}

.forgot-password:hover {
    color: #151019;
    font-weight: 600;
}

.login-btn {
    border: 0;
    background: #151019;
    display: block;
    margin: 2em auto;
    text-align: center;
    border: 1px solid #151019;
    padding: 1.5em 0.8em;
    width: 15em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
    cursor: pointer;
}

.login-btn:hover {
    width: 17em;
    border-color: #2ecc71;
    background-color: #3498DB;
}

.sign-up-btn {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.45em;
    border: 0;
    background: #151019;
    display: block;
    text-align: center;
    border: 1px solid #151019;
    padding: 1em 0.8em;
    width: 8em;
    outline: none;
    color: white;
    border-radius: 1.5em;
    transition: 0.25s;
    cursor: pointer;
}

.sign-up-btn:hover {
    width: 10em;
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
}

.sign-up-text {
    font-size: 1.2em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8em;
    border-top: 1px solid black;
}

.footer__icon-redirection {
    height: 2.5em;
    margin-right: 1.5em;
}

.footer__icon-redirection:hover {
    background-color: #FF9700;
    border-radius: 50%;
}

.footer__icon-redirection-instagram {
    height: 2.5em;
    margin-right: 1.5em;
}

.footer__icon-redirection-instagram:hover {
    background-color: #FF9700;
    border-radius: 40%;
}

.mail {
    text-decoration: none;
    color: white;
}

.mail:hover {
    color: #FF9700;
}