main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    align-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    color: brown;
    font-size: 300%;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 9em;
    border-radius: 100em 100em 0 0;
    background-color: white;
}

.eye {
    margin-top: 1em;
    height: 1em;
    width: 1.5em;
    background-color: orange;
    border-radius: 100em 100em 0 0;
}

.face {
    display: flex;
    justify-content: space-around;
    width: 6em;
    height: 3em;
    background-color: #151019;
    border-radius: 100em 100em;
}

.body {
    margin-left: 10em;
    margin-top: 1em;
    height: 12em;
    border-radius: 10px 10px 50% 50%;
    background-color: white;
    width: 11em;
}

.left-arm {
    height: 7em;
    width: 2em;
    background-color: white;
    position: absolute;
    border-radius: 100px 100px 100px 100px;
    top: 8em;
    left: 7.5em;
}

.right-arm {
    height: 7em;
    width: 2em;
    background-color: white;
    position: absolute;
    border-radius: 100px 100px 100px 100px;
    top: 2em;
    left: 23em;
    animation-name: skivi-waves;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes skivi-waves {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.robot {
    position: relative;
    margin-right: 10em;
}