.logo__image {
    height: 5em;
}

body {
    margin: 0 0 0 0;
    color: white;
    background-color: #151019;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    border-bottom: 1px solid black;
}

.logo__link {
    width: 3em;
    font-size: 3em;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-decoration: none;
    color: white;
    background-color: #FF9700;
    border-radius: 10px;
}

.logo {
    margin-left: 1.5em;
}

.header__image {
    height: 6em;
    margin-left: 21em;
}

nav {
    display: flex;
    width: 30em;
    justify-content: space-around;
}

.main__image {
    height: 20em;
}

.skivi-presentation {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skivi-says-hi {
    font-size: 2em;
}

.skivi-presentation__div {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.paths {
    margin-top: 8em;
    display: flex;
    justify-content: space-evenly;
}

.paths__image {
    width: 20em;
    margin-left: 2em;
    margin-right: 2em;
}

.path {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    background-color: #FF9700;
    text-decoration: none;
}

.path:hover {
    background-color: rgba(255, 151, 0, 0.75);
}

.path__links {
    text-decoration: none;
    color: white;
}

.path__title {
    text-align: center;
}

.path__description {
    max-width: 20em;
    margin-left: 2em;
    text-align: center;
    word-wrap: break-word;
    font-size: 1em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8em;
    border-top: 1px solid black;
}

.footer__icon-redirection {
    height: 2.5em;
    margin-right: 1.5em;
}

.nav-button__anchor {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 0.45em;
}

.nav-button {
    font-size: 1.5em;
}

.nav-button__anchor:hover {
    background-color: rgba(255, 151, 0, 0.75);
}