    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: x-large;
        /* height: 15em; */
        justify-content: space-around;
    }
    
    .path-presentation {
        text-align: center;
    }
    
    .lessons {
        align-self: flex-start;
        margin-left: 20%;
        margin-top: 5%;
    }
    
    .lesson-title {
        margin-bottom: 20%;
        font-size: 140%;
        list-style: none;
    }
    
    .dropdown-button:hover,
    .dropdown-button:focus {
        background-color: #FF9700;
        border-radius: 10px;
        transform: scale(1.2);
    }
    
    .dropdown-button {
        background-color: transparent;
        color: white;
        font-size: 140%;
        padding: 0;
        display: block;
        border: 0px;
        cursor: pointer;
        outline: none;
        border-color: #151019;
    }
    
    .lesson {
        display: none;
        margin-top: 2.5em;
        background-color: #FF9700;
        height: 20em;
        width: 30em;
        border-radius: 10px;
    }
    
    .lesson__img {
        height: 70%;
        align-self: center;
        border: 3px solid black;
        border-radius: 10%;
        margin-right: 5%;
        /* object-fit: contain; */
        max-width: 50%;
    }
    
    .lesson-container__step {
        display: flex;
        height: 100%;
        justify-content: space-between;
        min-width: 100%;
        transition: transform 1.5s cubic-bezier(0, 1.09, 0.45, 1.01);
    }
    
    .lesson-container__step__indication {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 5%;
        text-align: center;
        margin-right: 5%;
    }
    
    .lesson-btns {
        align-self: center;
        position: absolute;
        bottom: 0;
        left: 38%;
        /* width: 100%; */
    }
    
    .lesson-container {
        position: relative;
        display: flex;
        overflow: hidden;
        height: 95%;
    }
    
    .pBtn,
    .nBtn {
        border-radius: 10px;
        padding: 0.45em;
        border: 0;
        background: #151019;
        text-align: center;
        padding: 1em 0.8em;
        width: 8em;
        color: white;
        border-radius: 1.5em;
        transition: 0.25s;
        cursor: pointer;
        outline: none;
    }
    
    .pBtn:hover {
        width: 10em;
        background-color: #3498DB;
    }
    
    .nBtn:hover {
        width: 10em;
        background-color: #3498DB;
    }