footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8em;
    border-top: 1px solid black;
}

.footer__icon-redirection {
    height: 2.5em;
    margin-right: 1.5em;
}

.footer__icon-redirection:hover {
    background-color: #FF9700;
    border-radius: 50%;
}

.footer__icon-redirection-instagram {
    height: 2.5em;
    margin-right: 1.5em;
}

.footer__icon-redirection-instagram:hover {
    background-color: #FF9700;
    border-radius: 40%;
}

.mail {
    text-decoration: none;
    color: white;
}

.mail:hover {
    color: #FF9700;
}

@media screen and (max-width: 560px) {
    .contact {
        display: none;
    }
    footer {
        height: 5em;
    }
}